Repository stfc/cloud-deployed-apps, pull requests merged in 2024-04, with the labels that each got.

#14 Staging Cluster Support
  Chart.yaml
  README.md
  appofapps.yaml
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/apps.yaml
  charts/argocd-apps/templates/argocd-app.yaml
  charts/argocd-apps/templates/cloud-deployed-apps.yaml
  charts/argocd-apps/values.yaml
  charts/argocd-infra/Chart.yaml
  charts/argocd-infra/templates/cloud-deployed-infra.yaml
  charts/argocd-infra/templates/infra.yaml
  charts/argocd-infra/values.yaml
  charts/argocd/Chart.yaml
  charts/argocd/values.yaml
  charts/infra/capi/Chart.yaml
  charts/infra/capi/certs.yaml
  charts/infra/capi/networking.yaml
  charts/infra/capi/values.yaml
  clusters/david-harbor-test/app-values.yaml
  clusters/david-harbor-test/argocd-values.yaml
  clusters/david-harbor-test/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/app-values.yaml
  clusters/staging-management-cluster/argocd-values.yaml
  clusters/staging-management-cluster/infra-values.yaml
  clusters/staging-management-cluster/overrides/infra/cluster-self-manage.yaml
  clusters/staging-worker/app-values.yaml
  clusters/staging-worker/argocd-values.yaml
  clusters/staging-worker/overrides/infra/deployment.yaml
  clusters/test-cluster/app-values.yaml
  clusters/test-cluster/argocd-values.yaml
  clusters/test-cluster/infra-values.yaml
  clusters/test-cluster/overrides/infra/cluster-self-manage.yaml
  docs/BEST_PRACTICES.md
  docs/DEPLOYING_APPS.md
  docs/DEPLOYING_CLUSTER.md
  docs/DEPLOYING_INFRA.md
  docs/MODIFYING_CHARTS.md
  old/dev-values/harbor-values.yaml
  old/dev-values/rabbit-consumer-values.yaml
  old/dev-values/rabbit-exporter-values.yaml
  old/dev-values/thanos-values.yaml
  old/prod-values/harbor-values.yaml
  old/prod-values/rabbit-consumer-values.yaml
  old/prod-values/rabbit-exporter-values.yaml
  old/prod-values/thanos-values.yaml
  scripts/deploy.sh
  scripts/get-argocd-password.sh
  templates/guestbook.yaml
  templates/harbor.yaml
  templates/rabbit-consumers.yaml
  templates/rabbit-exporter.yaml
  templates/thanos.yaml
  values.yaml
Labels: enhancement

#16 MAINT: Repoint to main
  clusters/staging-management-cluster/app-values.yaml
Labels: deployment

#19 ENH: Adding cluster for setting up monitoring
  clusters/anish-monitoring-test/overrides/deployment.yaml
  clusters/staging-management-cluster/infra-values.yaml
Labels: deployment

#21 BUG: point to right file
  clusters/anish-monitoring-test/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/infra-values.yaml
Labels: deployment

#22 point test cluster to use dev chart
  clusters/staging-management-cluster/infra-values.yaml
Labels: deployment

#23 MAINT: david-harbor-test - Point to prod creds
  clusters/david-harbor-test/overrides/infra/deployment.yaml
Labels: deployment

#28 BUG: Label nodes for longhorn values
  clusters/david-harbor-test/overrides/infra/deployment.yaml
Labels: deployment

#24 ENH: add longhorn managed application
  charts/apps/longhorn/Chart.yaml
  charts/apps/longhorn/values.yaml
  charts/argocd-apps/values.yaml
  clusters/akhil-harbor-test/app-values.yaml
  clusters/akhil-harbor-test/argocd-values.yaml
  clusters/akhil-harbor-test/overrides/apps/longhorn-values.yaml
  clusters/akhil-harbor-test/overrides/infra/deployment.yaml
  docs/DEPLOYING_APPS.md
Labels: enhancement

#29 MAINT: cleaning up some child clusters
  clusters/akhil-harbor-test/app-values.yaml
  clusters/akhil-harbor-test/argocd-values.yaml
  clusters/akhil-harbor-test/overrides/apps/longhorn-values.yaml
  clusters/akhil-harbor-test/overrides/infra/deployment.yaml
  clusters/anish-monitoring-test/app-values.yaml
  clusters/anish-monitoring-test/argocd-values.yaml
  clusters/anish-monitoring-test/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/infra-values.yaml
Labels: deployment

#30 MAINT: Move test harbor back again
  clusters/david-harbor-test/overrides/infra/deployment.yaml
Labels: deployment

#27 DOC: Add PR template to repo
  .github/pull_request_template.md
Labels: documentation

#32 MAINT: setup monitoring and hosts for staging-mgmt
  clusters/staging-management-cluster/argocd-values.yaml
  clusters/staging-management-cluster/infra-values.yaml
  clusters/staging-management-cluster/overrides/infra/cluster-self-manage.yaml
  clusters/staging-management-cluster/overrides/infra/deployment.yaml
  docs/DEPLOYING_INFRA.md
Labels: enhancement

#31 DOC: New documentation
  README.md
  docs/DeployArgoandApps.md
  docs/DeployNewCluster.md
  docs/ThingsToKnow.md
Labels: enhancement

#34 DEPLOY: Create cluster to test node labels
  clusters/david-pr-test/app-values.yaml
  clusters/david-pr-test/argocd-values.yaml
  clusters/david-pr-test/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/infra-values.yaml
Labels: deployment

#37 MAINT: Switch the FIP for to test.harbor.stfc.ac.uk
  clusters/david-harbor-test/overrides/infra/deployment.yaml
Labels: deployment

#41 ENH: add prod-mgmt cluster
  charts/argocd-apps/templates/cloud-deployed-apps.yaml
  charts/argocd-infra/templates/cloud-deployed-infra.yaml
  charts/infra/capi/values.yaml
  clusters/prod-mgmt/app-values.yaml
  clusters/prod-mgmt/argocd-values.yaml
  clusters/prod-mgmt/infra-values.yaml
  clusters/prod-mgmt/overrides/infra/deployment.yaml
Labels: enhancement, deployment

#42 BUG: fix issue where cloudDeployedApps undefined
  charts/argocd-apps/templates/cloud-deployed-apps.yaml
  charts/argocd-infra/templates/cloud-deployed-infra.yaml
Labels: bug

#35 MAINT: set cluster name for monitoring correctly
  charts/infra/capi/addons/monitoring.yaml
  clusters/staging-management-cluster/overrides/infra/deployment.yaml
  docs/DEPLOYING_INFRA.md
Labels: bug

#44 move ip for staging mgmt ingress
  clusters/staging-management-cluster/overrides/infra/deployment.yaml
Labels: deployment

#45 BUG: explicitly define externalNetworkID
  clusters/prod-mgmt/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/overrides/infra/deployment.yaml
  clusters/staging-worker/overrides/infra/deployment.yaml
  clusters/victoria-metrics-test/overrides/infra/deployment.yaml
  docs/DEPLOYING_INFRA.md
Labels: bug

#33 Changed default node labels
  charts/apps/longhorn/values.yaml
  charts/infra/capi/values.yaml
  docs/DEPLOYING_APPS.md
Labels: documentation, enhancement

#47 make prod-mgmt use prod tag for tracking
  clusters/prod-mgmt/infra-values.yaml
Labels: deployment

#50 ENH: make prod-mgmt manage a new VM prod cluster
  clusters/prod-mgmt/app-values.yaml
  clusters/prod-mgmt/infra-values.yaml
  clusters/victoria-metrics-prod/app-values.yaml
Labels: deployment

#53 DEPLOY: Add training Jupyterhub on prod
  clusters/jupyter-training/app-values.yaml
  clusters/jupyter-training/overrides/infra/deployment.yaml
  clusters/prod-mgmt/infra-values.yaml
Labels: deployment

#56 MAINT: Change size of GPU nodegroups
  clusters/jupyter-training/overrides/infra/deployment.yaml
Labels: deployment

#57 ENH: enable kube-prom-stack logs for JHub cluster
  clusters/jupyter-training/overrides/infra/deployment.yaml
Labels: deployment

#55 Changed cluster name to vm-prod to try handle metadata limit
  clusters/prod-mgmt/infra-values.yaml
  clusters/vm-prod/app-values.yaml
  clusters/vm-prod/argocd-values.yaml
  clusters/vm-prod/overrides/apps/victoria-metrics.yaml
  clusters/vm-prod/overrides/infra/deployment.yaml
Labels: bug, deployment

#54 DEPLOY: Add prod-worker cluster
  clusters/prod-worker/app-values.yaml
  clusters/prod-worker/argocd-values.yaml
  clusters/prod-worker/overrides/infra/deployment.yaml
Labels: deployment

#61 MAINT: Drop network UUIDs
  clusters/prod-mgmt/overrides/infra/deployment.yaml
  clusters/prod-worker/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/overrides/infra/deployment.yaml
  clusters/staging-worker/overrides/infra/deployment.yaml
  clusters/victoria-metrics-test/overrides/infra/deployment.yaml
  clusters/vm-prod/overrides/infra/deployment.yaml
  docs/DEPLOYING_INFRA.md
Labels: deployment
