Repository stfc/cloud-deployed-apps, pull requests merged in 2024-05, with the labels that each got.

#36 Updates for deploying Argo on a cluster
  docs/DEPLOYING_CLUSTER.md
Labels: documentation

#62 Changed Victoria-metrics staging directory
  clusters/staging-management-cluster/infra-values.yaml
  clusters/vm-stage/app-values.yaml
  clusters/vm-stage/argocd-values.yaml
  clusters/vm-stage/overrides/apps/victoria-metrics.yaml
  clusters/vm-stage/overrides/infra/deployment.yaml
Labels: deployment

#64 MAINT: setup monitoring on staging-worker
  clusters/staging-worker/overrides/infra/deployment.yaml
Labels: deployment

#65 DEPLOY: Remove infra from testing PR
  clusters/david-pr-test/app-values.yaml
  clusters/david-pr-test/argocd-values.yaml
  clusters/david-pr-test/overrides/infra/deployment.yaml
  clusters/staging-management-cluster/infra-values.yaml
Labels: deployment

#69 DEPLOY: Test deployment for argocd
  clusters/test-capi-addons-2/app-values.yaml
  clusters/test-capi-addons-2/argocd-values.yaml
  clusters/test-capi-addons-2/infra-values.yaml
  clusters/test-capi-addons-2/overrides/infra/deployment.yaml
Labels: deployment

#70 Update floating IP
  clusters/test-capi-addons-2/overrides/infra/deployment.yaml
Labels: bug, deployment

#71 Update credential name and update infra value
  clusters/test-capi-addons-2/infra-values.yaml
  clusters/test-capi-addons-2/overrides/infra/deployment.yaml
Labels: bug, deployment

#68 MAINT: remove setting cluster networking
  charts/infra/capi/networking.yaml
Labels: deployment

#72 MAINT: Bump argo-cd helm version to 6.10.2
  charts/argocd/Chart.yaml
Labels: enhancement

#73 Folder Flows: Prep charts
  README.md
  charts/argocd-apps/Chart.yaml
  charts/argocd-apps/templates/apps.yaml
  charts/argocd-apps/templates/argocd-app.yaml
  charts/argocd-apps/templates/cert-manager-app.yaml
  charts/argocd-apps/templates/cloud-deployed-apps.yaml
  charts/argocd-apps/values.yaml
  charts/argocd-infra/Chart.yaml
  charts/argocd-infra/templates/cloud-deployed-infra.yaml
  charts/argocd-infra/templates/infra.yaml
  charts/argocd-infra/values.yaml
  charts/dev/argocd/Chart.yaml
  charts/dev/argocd/values.yaml
  charts/dev/cert-manager/Chart.yaml
  charts/dev/cert-manager/templates/le-prod-clusterissuer.yaml
  charts/dev/cert-manager/templates/le-staging-clusterissuer.yaml
  charts/dev/cert-manager/templates/self-signed-clusterissuer.yaml
  charts/dev/cert-manager/values.yaml
  charts/dev/longhorn/Chart.yaml
  charts/dev/longhorn/values.yaml
  charts/dev/victoria-metrics/Chart.yaml
  charts/dev/victoria-metrics/values.yaml
  charts/infra/capi/Chart.yaml
  charts/infra/capi/addons/monitoring.yaml
  charts/infra/capi/certs.yaml
  charts/infra/capi/networking.yaml
  charts/infra/capi/values.yaml
  docs/DeployArgoandApps.md
  docs/MODIFYING_CHARTS.md
  docs/charts.md
Labels: enhancement

#75 ENH: Add secret handling and secrets for dev
  charts/dev/argocd/values.yaml
  docs/secrets.md
  secrets/dev/.sops.yaml
  secrets/dev/management-app-creds.yaml
  secrets/dev/management-fip.yaml
Labels: enhancement
